.Panel-large, .Panel-medium, .Panel-small {
    padding: 20px;
    height: calc(100% - 10px);
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: 1px solid lightgray;
    font-family: Arvo, sans-serif;
}

.Panel-small {
flex: .5 0 200px;

}

.Panel-medium {
flex: 2 0 200px;

}

.Panel-large {
flex: 3 1 250px;
}

@media screen and (max-width:650px) {
    .Panel-large, .Panel-medium, .Panel-small {
        width:  calc(100% );
        flex: auto;         
        border-top: 2px solid lightgray; 
    }
}