.Parallel_active {
  background-color: lightyellow;
  height: auto;
}

.Parallel {
  outline: none !important; 
}


.Parallel_outline > span {
  display:block;
}

.Parallel_label {
  font-weight: bold;
}

.Parallel_2{
  margin-left: 2em;
}
.Parallel_3{
  margin-left: 4em;
}
.Parallel_4{
  margin-left: 6em;
}
.Parallel_5{
  margin-left: 8em;
}
.Parallel_6{
  margin-left: 10em;
}
.Parallel_7{
  margin-left: 12em;
}
.Parallel_8{
  margin-left: 14em;
}
.Parallel_9{
  margin-left: 16em;
}
.Parallel_10{
  margin-left: 18em;
}
