.Parallel_active {
  background-color: lightyellow;
}
.Parallel_theme:hover {
  background-color: lightyellow;
}
.Parallel_outline > span {
  display: block;
}

.Parallel_label {
  font-weight: bold;
}