.Home_content {
    position: fixed;
    top: 120px;
    bottom: 0;
    left: 0;
    right: 0;
    display:flex;
    align-items: stretch;
    flex-direction: row;
  }

  .Home_hint {
    font-size: small;
    font-style: italic;
  }

  .yahwist, .sources-true tei-seg[ana="#yahwist"] {
    font-weight: bold;
  }

  @media screen and (max-width:800px) {
    .Home_content {
       flex-direction: column;
    }
  }